{% extends "base.html.twig" %}
{% block body %}
	<a href="{{ url("product.all") }}">Retour</a>
	{{ form(form) }}
	{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.releaseOn) }}
    {{ form_end(form) }}
	{{ dump(result) }}
{% endblock %}
