{% extends "base.html.twig" %}
{% block body %}

<h2>Votre ticket</h2>
			<div><label>Intitulé :  </label>{{ ticket.intitule }}</div>
			<div><label>Date de création : </label>{{ ticket.date_de_creation|date }}</div>
			<div><label>Poste : </label>{{ ticket.batiment }}{{ticket.salle}}{{ticket.poste}}</div>
			<div><label>Description : </label>{{ ticket.description }}</div>
			<div><label>Probleme : </label>{{ ticket.probleme.getLibelleProb() }}</div>
			<div><label>Urgence : </label>{{ ticket.urgence.getLibelleUrgence() }}</div>
{% endblock %}