{% extends "base.html.twig" %}
{% block body %}

    <h2>Déposer un ticket</h2>

    {{ form_start(form) }}
    <div class="batiment">
   		{{ form_label(form.batiment) }}{{ form_errors(form.batiment) }}{{ form_widget(form.batiment) }}
		{{ form_label(form.salle) }}{{ form_errors(form.salle) }}{{ form_widget(form.salle) }}
		{{ form_label(form.poste) }}{{ form_errors(form.poste) }}{{ form_widget(form.poste) }}
	</div>
	<div class="intitule">
		{{ form_label(form.intitule) }}
   		{{ form_errors(form.intitule) }}
   		{{ form_widget(form.intitule) }}
	</div>	
	<div class="description">
		{{ form_label(form.description) }}
   		{{ form_errors(form.description) }}
   		{{ form_widget(form.description) }}
	</div>
    <div class="probleme">
   		{{ form_label(form.probleme) }}{{ form_errors(form.probleme) }}{{ form_widget(form.probleme) }}
		</div>
    <div class="urgence">
   		{{ form_label(form.urgence) }}{{ form_errors(form.urgence) }}{{ form_widget(form.urgence) }}
	</div>
	<div class="save">
    	{{ form_widget(form.save) }}
	</div>
	{{ form_end(form) }}
	<div>
	{{ dump(result) }}
	</div>

{% endblock %}